<!DOCTYPE html>
<html>
<head>
    <title>Customer Support Assistant</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<div class="chat-container">

    <h1>Customer Support Assistant</h1>

    <div id="chatBox">

    </div>

    <div id="buttonContainer"></div>

    <input type="text" id="message">

    <button id="sendButton">Send</button>

</div>
<script>
const button = document.getElementById("sendButton");
const message = document.getElementById("message");
const chatBox = document.getElementById("chatBox");
const buttonContainer = document.getElementById("buttonContainer");

async function sendMessage(text) {
    const userMessage = document.createElement("div");
    userMessage.classList.add("user-message");
    userMessage.textContent = "You: " + text;
    chatBox.appendChild(userMessage);

    const response = await fetch("/chat", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({
            message: text
        })
    });
    const result = await response.json();
    const aiMessage = document.createElement("div");
    aiMessage.classList.add("ai-message");
    aiMessage.textContent = "Customer Support: " + result.response;
    chatBox.appendChild(aiMessage);
    buttonContainer.innerHTML = "";

if (result.buttons) {

    result.buttons.forEach(function(btn) {

        const newButton = document.createElement("button");

        newButton.textContent = btn.text;

        newButton.onclick = function() {
            sendMessage(btn.value);
        };

        buttonContainer.appendChild(newButton);

    });

}
    console.log(result);
    // optional: clear the input after sending
    message.value = "";
}
button.addEventListener("click", function () {
    sendMessage(message.value);
});
message.addEventListener("keydown", function(event) {
    if (event.key === "Enter") {
        sendMessage(message.value);
    }
});
</script>

</body>
</html>